body {
  background-color: skyblue;
  text-align: center;
}
header {
  color: yellow;
  background-color: #444444;
  border-radius: 100px;
  
}

.info {
  color: yellow;
  background-color: #4444;
  border-radius: 100px;
  text-align: center;
}
h3 {
  color:green;
  background-color: #4444;
  border-radius: 100px;
  text-align:center;

}
